.App {
  text-align: center;
  padding-top: 10%;
  background-color: #FEDB39;
  height: 100vh;
  width: 100%;
}

.heading{
  color: #002E94;
  font-size: 38px;
  padding-bottom: 7%;
  font-weight: 600;
}
